<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Retwis - Example Twitter clone based on the Redis Key-Value DB</title>
    <link href="@Url.Content("/Content/Site.css")" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="page">
        <div id="header">
            <a href="/"><img style="border:none" src="@Url.Content("/Content/logo.png")" width="192" height="85" alt="Retwis"></a>
            @Html.Partial("_Menu")
        </div>
        @RenderBody()
        <div id="footer">Redis is a very simple Twitter clone written in C# as example application of the <a href="http://redis.io">Redis database</a></div>
    </div>
</body>
</html>
