<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <appSettings>
    <add key="Host" value="tokiota.redis.cache.windows.net" />
    <add key="Port" value="6380" />
    <add key="Password" value="mypassword" />
  </appSettings>
</configuration>